/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Header styles */
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

/* Navigation styles */
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px; /* Add padding to make buttons larger */
  background-color: #333; /* Add background color */
  border-radius: 5px; /* Add border radius for rounded corners */
}

/* Main content styles */
h1 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="number"],
form textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  width: 100%; /* Make input fields fill the entire width */
  box-sizing: border-box; /* Include padding and border in the width */
}

button {
  padding: 10px;
  font-size: 1em;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Add border radius for rounded corners */
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}
h2,img,
p {
  padding-left: 50px; /* Add padding for h2 and p tags */
}
